.shop-image {
    width: 250px;
}

.add-to-cart-button {
    padding: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid black;
    letter-spacing: 3px;
}

.add-to-cart-button:hover{
    color:#fff;
    background-color:#000;
}

.items-in-cart-container {
    height: 100vh;
}

.items-in-cart {
    height: 80vh;
    overflow-y: auto;
}

.cart-items {
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    font-size: 13px;
    width: 200px;
}

