.shop-sub-container-filters {
    /* position: fixed; */
    position: sticky;
    left: 45px;

}

.shop-container {
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 7px;
}

.shop-sub-container {
    margin-top: 150px;
    /* position: sticky; */
    /* overflow-y: scroll; */
}
