.shop-sub-container-filters {
    position: fixed;
    left: 45px;

}

.shop-container {
    position: absolute;
    right: 300px;
    top: 55px;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 7px;
    height: 85vh;
    overflow-y: scroll;
}

.shop-sub-container {
    margin-top: 150px;
    height: 80vh;
    overflow-y: scroll;
}

