.shop-sub-container-filters {
    /* position: fixed; */
    left: 45px;
}

.shop-container {
    /* position: absolute; */
    right: 300px;
    top: 55px;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 7px;
    height: 85vh;
    /* overflow-y: scroll; */
}

.shop-sub-container {
    margin-top: 150px;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width:760px) and (min-width:400px)  {
    .shop-container {
        display: flex;
    }

  .shop-sub-container-filters {
    position: relative;
    width: 40vw;
    margin-left: 20px;
    margin-right: 20px;
}

.shop-sub-container-items {
    position: relative;
    width: 40vw;
}

.shop-image {
    width: 130px;
}

.shop-title {
    font-size: 15px;
}

.cart-items {
    width: 100px;
    /* margin-right: 130px; */
    margin-left: 0;
    font-size: 12px;
}

.item-total {
    font-size: 13px;
}
}
