.lookbook-img {
    width: 70vw;
    height: 70vh;
    margin-top: 150px;
    
}

.container-img {
    position: relative;
    justify-content: center;
    display: flex;
}

.btn1 {
    position: absolute;
    right: 10%;
    /* top: 150%; */
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.btn2 {
    position: absolute;
    left: 10%;
    /* top: 150%; */
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.arrow {
    height: 80px;
    color: black;
}

.text {
    position: absolute;
    top: 105%;
    left: 25%;
    z-index: 1;
}

.container-description-container {
display: flex;
justify-content: center;
}

.about-carousel-container {
    font-family: 'Montserrat', sans-serif;
}

.about-cards-main-container {
    display: flex;
    justify-content: center;
}

.about-cards-container {
    display: flex;
    flex-direction: column;
    border: 8px solid;
    border-image: linear-gradient(45deg, gray, #ebedee) 1;
    padding: 20px;
    margin: 280px 40px 0px 40px;
}

.about-image {
    width: 80px;
    align-self: center;
}

.about-staff-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.about-staff-container {
    display: flex;
    margin-bottom: 100px;
}

.about-staff-icon {
    width: 40px;
    height: 40px;
}

.about-staff-image {
    height: 400px;
    width: 300px
}

.about-staff-card-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    margin-right: 250px;
}

@media screen and (max-width:760px) and (min-width:577px)  {
    .lookbook-img {
        width: 70vw;
        height: 30vh;
    }

    .text {
        top: 50%;
    }

    .about-cards-main-container {
        flex-direction: column;
    }

    .about-cards-container {
        margin-top: 70px;
        margin-bottom: 0;
        width: 80vw;
    }

    .first {
        margin-top: 180px;
    }

    .about-staff-image {
        height: 300px;
        width: 220px;
    }

    .about-staff-card-container {
        margin-right: 100px;
    }

    .second {
        margin-top: 100px;
    }
  }
  
  @media screen and (max-width:576px) {
    .lookbook-img {
        width: 400px;
        height: 350px;
    }
    .text {
        top: 55%;
    }
    .about-cards-main-container {
        flex-direction: column;
    }
    .about-cards-container {
        margin-top: 150px;
    }
    .about-staff-container {
        flex-direction: column;
    }
    .about-staff-card-container {
        margin-right: 0px;
    }
    .about-staff-image {
        margin-top: 150px;
    }
  
  }

