.landing-page-container {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.navigation {
    position: fixed;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    overflow: hidden;
    z-index: 20;

} 
.logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
}
  
.nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
} 

.nav-link {
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Montserrat', cursive;
    font-size: 20px;
    padding: 10px 25px;
    letter-spacing: 5px;
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    border: 1px solid black;
}

@media screen and (max-width:760px) and (min-width:577px) {
    .nav-link {
        font-size: 15px;
    }
}

@media screen and (max-width:576px) {
    .nav-links-container {
        flex-wrap: wrap;
    }
    .nav-link {
        font-size: 15px;
    }
    .navigation {
        margin-bottom: 50px;
    }
}
