.cart-image {
    width: 70px;
    z-index: 2;
    cursor: pointer;
}

.cart-container {
    position: relative;
}

.item-count {
    position: absolute;
    top: 18px;
    left: 35px;
    z-index: 3;
}


.cart-btn {
    margin-top: 35px;
}

.cart-button {
    border: none;
    background-color: transparent;
}