@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap');

.landing-container {
    margin: 20px;
    height: 30vh;
    position: absolute;
    top: 150px;
}
.landing-name {
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    padding: 25px;
    letter-spacing: 7px;
}

.landing-heading {
    font-family: 'Montserrat', cursive;
    font-size: 20px;
    padding: 10px 25px;
    letter-spacing: 7px;
    width: 50vw;
    position: absolute;
    top: 220px;
}

@media screen and (max-width:650px) {
    .landing-name {
        font-size: 75px;
    }
}


/* @media screen and (min-width:400px) and (max-width:649px) {

} */