@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap');

.landing-container {
    margin: 20px;
    height: 30vh;
    position: absolute;
    top: 150px;
}
.landing-name {
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    padding: 25px;
    letter-spacing: 7px;
}

.landing-heading {
    font-family: 'Montserrat', cursive;
    font-size: 20px;
    padding: 10px 25px;
    letter-spacing: 7px;
    width: 50vw;
    position: absolute;
    top: 220px;
}

@media screen and (max-width:760px) and (min-width:577px) {
    .landing-name {
        font-size: 68px;
    }
    .landing-heading {
        padding-top: 50px;
        font-size: 18px;
    }

}

@media screen and (max-width:576px) {
    .landing-name {
        font-size: 40px;
        padding-bottom: 5px;
        padding-top: 5px;
        margin-bottom: 10px;
    }
    .landing-heading {
        font-size: 13px;
        /* margin-top: 15px; */
    }
}