.change-quantity-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: none;
    background-color: transparent;
    text-align: center;
    color: black;
}

.change-quantity-number {
    font-size: 25px;
    margin: 0 5px;
}